<div class="container">
    <h2>Test BIG FIVE</h2>
    <p>Responde en una escala de 1 (Muy en desacuerdo) a 5 (Muy de acuerdo).</p>

    <div class="test-container" *ngFor="let question of questions; let i = index">
      <div class="question">
        <p>{{ question.text }}</p>
        <div class="range-container">
          <input
            type="range"
            [(ngModel)]="responses[i]"
            min="1" max="5" step="1"
            [value]="responses[i]"
            (input)="updateResponse(i, $event)"
            [ngStyle]="getRangeStyle(responses[i])">
          <div class="labels">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
          </div>
        </div>
      </div>
    </div>

    <button (click)="submitTest()">Ver resultado</button>
    <button class="home-button" routerLink="/">Volver al Inicio</button>

    <div *ngIf="completed" class="results">
      <h2>Resultados</h2>
      <ul>
        <li *ngFor="let trait of ['extraversion', 'conscientiousness', 'neuroticism', 'agreeableness', 'openness']">
          <strong>{{ trait | titlecase }}:</strong> {{ getInterpretation(trait) }}
        </li>
      </ul>
    </div>
  </div>
