<div class="login-container">
  <div class="login-form">
    <h2>INICIAR SESIÓN</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required email>
        <div *ngIf="loginForm.submitted && !email">
          <span>El email es obligatorio.</span>
        </div>
      </div>
      <div>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" [(ngModel)]="contrasena" name="contrasena" required>
        <div *ngIf="loginForm.submitted && !contrasena">
          <span>La contraseña es obligatoria.</span>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
    </form>
    <div class="google-login">
      <button>
        <span class="material-icons">mail</span>
        Ingresa con Gmail
      </button>
    </div>
    <div class="sign-up-link">
      <p>¿Sin cuenta?</p>
      <a href="/signup" class="sign-up">Sign up</a>
    </div>
  </div>
</div>
